{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}
    <div class="social">
      <p>
        <span id="my-email">a_so@.ronutadahiskcaml</span>
        <a
          href="#"
          onclick="
            const s = 'aoulhd@rnotamssko_cioa.';
            const k = [9, 12, 13, 15, 5, 3, 11, 0, 10, 16, 14, 2, 22, 8, 7, 18, 21, 4, 20, 1, 17, 6, 19];
            let e = [];
            for(let i = 0; i < k.length; i++) e[k[i]] = s[i];

            const email = e.join('');

            document.getElementById('my-email').textContent = email;

            this.remove();
            return false;
          "
          style="margin-left:8px;"
          >[Unscramble]</a
        >
      </p>

      <div class="contact-icons">
        <a
          href="https://github.com/riadhassan"
          target="_blank"
          style="color: #000; text-decoration: none;"
          title="GitHub"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/riadhassan/"
          target="_blank"
          style="color: #000; text-decoration: none;"
          title="LinkedIn"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a
          href="https://scholar.google.com/citations?user=heXZzcQAAAAJ&hl=en"
          target="_blank"
          style="color: #000; text-decoration: none;"
          title="Google Scholar"
        >
          <i class="ai ai-google-scholar"></i>
        </a>
      </div>
    </div>
    <div class="container">
      {{ footer_contents }}
    </div>
  </footer>
{% endif %}
